:host {
    border: 1px solid black;
    margin: 2px;
    border-radius: 5px;
    display: block;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    padding: 5px;
    border: 2px solid black;
}

a:hover {
    text-decoration: none;
    padding: 5px;
    background-color: #ccc;
}